<app-navbar></app-navbar>
<div class="content">
    หอพักที่เลือกไว้ในList<br>
  <button class="btn btn-outline-success my-2 my-sm-0">หอพักที่1</button>
    <button class="btn btn-outline-success my-2 my-sm-0">ลบ</button><br><Br>
    <button class="btn btn-outline-success my-2 my-sm-0">หอพักที่2</button>
    <button class="btn btn-outline-success my-2 my-sm-0">ลบ</button><br><Br>
    <button class="btn btn-outline-success my-2 my-sm-0">หอพักที่3</button>
    <button class="btn btn-outline-success my-2 my-sm-0">ลบ</button><br><Br>
</div>