<app-navbar></app-navbar>
<div class="content">
        <button class="btn btn-outline-success my-2 my-sm-0"  >
            หอพักที่1
          </button><br><br>
          <button class="btn btn-outline-success my-2 my-sm-0"  >
              หอพักที่2
            </button><br><br>
            <button class="btn btn-outline-success my-2 my-sm-0"  >
                หอพักที่3
              </button><br><br>
</div>
<div class="content2">
              <button class="btn btn-outline-success my-2 my-sm-0"  (click)="dcompare()">
            เปรียบเทียบ
          </button>

</div>